$height-default: 100%;
$colors: (main:#ff971d, secondary: #ffe8d6, general-background: #fff, background-contrast: #f9f6f7);

$color-primary:#ff971d;
$color-secondary:·ffe8d6;
$color-general-background: #fff;
$color-general-background-contrast: #f9f6f7;