@import 'variables';

.dashboard-activity {
    margin: 1rem;
}

.dashboard-activity__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    // border-bottom: 1px solid map-get($colors, primary);
    border-bottom: 1px solid gray;
}

.dashboard-header {
    font-size: 1.5rem;
    color: gray;
    text-align: center;
}

.dashboard-product {
    margin: 1rem;
}

.dashboard-product__stadistics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.dashboard-product__stadistics--details {
    display: inline-block;
    border: solid 1px grey;
    padding: 0.5rem;
    margin: 1rem;
}

.dashboard-product__stadistics--details__header {
    // color: grey;
    border-bottom: solid 1px gray;
    padding-bottom: 0.2rem;
    font-weight: 700;
}

.dashboard-product__stadistics--details__table {
    border-spacing: 0 0.5rem;

    td {
        padding: 0 0.5rem;
    }

}