@import '_variables';

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.primary {
    color: map-get($colors, primary);
}

.secondary {
    color: map-get($colors, secondary);
}

.strong {
    font-weight: 700;
}

.show-login {
    display: flex !important;
}

.show {
    display: block !important;
}

.text-error {
    color: red;
}

.input-error {
    border-bottom: solid 2px red !important;
}