@import 'variables';

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors, background-contrast);
    z-index: 100;
}


.modal-body {

    position: fixed;
    top: 29%;
    left: 35%;
    width: 30%;
    z-index: 200;

    padding: 0.5rem 1rem;

    border: solid 1px black;

    display: grid;
    grid-template-rows: 2rem 1fr;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
}

.modal-input {
    width: 100%;
    border: none;
    background-color: transparent;

    font-size: 1rem;
    margin: 0.5rem 0;

    &:focus {
        border-bottom: solid 2px map-get($colors, primary);
    }
}