@import'variables';

.product {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($colors, $key: general-background);
}

.product-list {
    border: solid 1px black;
    padding: 1rem
}

.product-list__options {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0;
}

.product-list__button {
    outline: none;
    background-color: map-get($colors, primary);
    color: map-get($colors, general-background);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
}

.new_product-button {
    position: fixed;
    right: 5%;
    bottom: 7%;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: map-get($colors, primary);
    border: none;
    color: white;
}