@import 'variables';

.sidebar {
    background-color: map-get($colors, background-contrast);
    // background-color: map-get($colors, secondary);
    grid-column-start: 1;
    grid-column-end: 2;
    height: $height-default;
}


.sidebar__container {
    padding: 0;
}

.sidebar__header {
    padding: 0.3rem 1rem;
    margin: 0
}

.sidebar__items {
    padding: 0;
}

.sidebar__item {
    padding: 0.4rem 0.4rem 0.4rem 1.5rem;
}

.sidebar__item--link {
    text-decoration: none;
    color: inherit;
}

.ul {

    list-style: none;
}

.li {

    &:active,
    &:hover {
        color: map-get($colors, background-contrast);
        background-color: map-get($colors, primary);
        cursor: pointer;
        // box-shadow: 2px 1px 5px black;
        // font-weight: 700;
        // font-size: 1.1rem;
        // padding: 0.4rem 0.4rem 0.4rem 2rem;
    }

    // &:active{
    //     color: map-get($colors, background-contrast);
    //     background-color: map-get($colors, primary);
    //     cursor: pointer;

    // }
}